<!DOCTYPE html5>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')  }}" type="text/css">
    <link rel="stylesheet" href="../static/css/layout.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/marketing.css')  }}" type="text/css">
    <link rel="stylesheet" href="../static/css/marketing.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>FitFinder</title>
</head>

<body>
  <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="">FitFinder</a>

          <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a onclick="accountInfo()" class="pure-menu-link">Account Info</a></li>
              <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Sign Out</a></li>
          </ul>
      </div>
  </div>

  <div class="splash-container">
      <div class="splash">

        <center>
        <img src="../static/images/Jason Smith.jpg" style.float="left" alt="Profile Pic" width="39%" height="89%">
        <!--Bio Box-->
        <div class="biobox" style.float="right">

        </div>
        <button class="button"><span>Message </span></button>
        <button class="button"><span>Next </span></button>
      </div>
      </center>
  </div>

  <div class="content-wrapper">
      <div class="content">
          <h2 class="content-head is-center">Enter a new age of getting healthy.</h2>

          <div class="pure-g">
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                  <h3 class="content-subhead">
                      Each Profile includes:
                  </h3>
                  <p>
                      Age,Height,and a small description of themselves and their healthy lifestyle they are trying to maintain ot start
                  </p>
              </div>
          </div>
      </div>
  </div>

    <!--Account Info-->
    <!-- The Modal -->
    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" action="/action_page.php">
            <div class="container">
                <center>
                    Account Info
                </center>
                <p style="clear: left">
                    <hr>
                </p>
                <label><b>Name(First Name Last Name)</b></label>
                <input type="text" placeholder="Enter Name" name="name" required>

                <label><b>Age</b></label>
                <p style="clear: left">
                    <input type="number" placeholder="Age" name="age" required> years old
                </p>

                <label><b>Height(in cm.)</b></label>
                <p style="clear: left">
                    <input type="number" placeholder="Height" name="height" required> cm
                </p>

                <label><b>Description</b></label>
                <p style="clear: left">
                    <textarea placeholder="Enter Description of yourself and your workout/dietary routine" name="bio" row="3" maxlength="200" cols="60"></textarea>
                </p>

                <p>
                <a onclick="sendData"><button type="submit">Save Changes</button></a>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
        </form>
        </div>

        <!--Importing JS Script-->
        <script type="text/javascript" src="../static/script.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>
